<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/base.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <h6>Note: Empty input elements are not counted (e.g. ",, or ,   ,").</h6>
             <input id="lunch-menu" type="text"
             placeholder="List comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchMenu"
             required
             ng-class="{ 'inputError' :  isError , 'inputSuccess' : !isError }"
             >
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="{ 'error' :  isError , 'success' : !isError }">
           <!-- Your message can go here. -->
           <h5>{{adviceMessage}}</h5>
         </div>
   </div>

</body>
</html>
